{{d-button
  class="btn btn-default"
  label="user.reflection.create_button_text"
  icon="glasses"
  action="createReflection"
}}

<ul>
  <div class='clearfix info'>
    {{#each this.model.reflections as |reflection| }}
    <li>
      <span class="time">created {{format-date reflection.created_at }} ago, last edited {{format-date reflection.updated_at}} ago</span>
      <h1>{{ reflection.title }}</h1>
      <p>{{ reflection.body }}</p>

      {{ d-button
        class="btn btn-default"
        label="user.reflection.edit_button_text"
        icon="pencil"
        action="editReflection"
      }}
    </li>
    {{/each}}
  </div>
</ul>
